<comp-header></comp-header>

<div class="container content-md ">
         <div class="row">
            <div class="col-md-12">
               	<div>
					<h2>Company Page</h2>
						<form>
							<input placeholder="Username"></input>
							<input placeholder="Password"></input>
							<button>Submit</button>
						</form>
				</div>
            </div>
        </div>


<!-- <div ng-controller="compController">
	<title>Company</title>
	<p>This is the company page</p>
	{{comp}}
	{{test}}
</div>
<div>
	<h2>Add an Employee</h2>
</div> -->

