<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Forms</h1>
			<iframe class="embed-responsive-item" src="../../f1095cnew.pdf"></iframe>
		</div>
	</div>
</div>

<div class="center">
 				<div>
	 				<p>Printable Resume</p>
	 				<div class="container">
	          		  	<div class="embed-responsive embed-responsive-4by3">
	           				 <iframe class="embed-responsive-item" src="../styles/pdf/f10955730b6b5e8b50ae0122080f3.pdf"></iframe>
	        			</div>
	 				</div>
 				</div>
 			</div>