<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2 class="formsH2">Current Employees</h2>
			<button class="formsButton hvr-grow-shadow" ng-click="genForm(userid)">Gen 1095</button>
					    	<div class="col-md-12" ng-repeat="emp in emps">
					    		<div class="col-md-6">
					    			{{emp.name}}
					    		</div>
					    		<div class="col-md-6">
					    			<button class="hvr-grow-shadow" ng-click="pdf(emp._id)">View PDF</button>
					    		</div>
					    	</div>
		</div>
		<div class="col-md-6">

				<iframe class="empiframe" ng-src="{{cool}}"></iframe>
			
		</div>
	</div>
</div>
