<!-- <div ng-controller="loginController">
	<title>Home</title>
	<p>This is the home page</p>

	<form>
		<input placeholder="Username" ng-model="user.username"></input>
		<input placeholder="Password" ng-model="user.password"></input>
		<button ng-click="postLogin(user)">Login</button>
		{{test}}
		{{emp}}
	</form>
</div> -->
<my-header></my-header>

<div class="container">
	<div class="row">
		<div class="col-md-12" >
			<div class="homeBg">
				<h1 class="text">1099 Filer</h1>
			</div>
		</div>
	</div>
</div>

<div class="margin-bottom-20"></div>

       
    
    <div class="">
        <div class="container">
            <div class="homeTitle">
                <h2>Affordable Care Act Reporting done right</h2>
                <p>1095 Filer - your solution for Affordable Care Act Reporting and Compliance.  The most productive and cost-effective way to paper file your Forms 1094-C and 1095-C</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <i class=""></i>
                        <div class="">
                            <h3>Why use 1095 Filer</h3>
                            <p>We simplifie data entry and processing through efficient and easy to understand screens. Filing your 1095-C / 1094-C forms is a brease with our easy to use software.  Remove the hasle of ACA file with us and be done in minutes.</p>
                        </div>
                    </div>
                    <div class="">
                        <i class=""></i>
                        <div class="">
                            <h3>Our Guarantee</h3>
                            <p>Your forms will be filed securly and timely. You will save overall time using 1095 filer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                        </div>
                    </div>
                 <!--    <div class="banner-info dark margin-bottom-10">
                        <i class="rounded-x fa fa-thumbs-o-up"></i>
                        <div class="overflow-h">
                            <h3>Our Guarantee</h3>
                            <p>Your forms will be prepared correctly and timely, Your forms will be prepared with tlowest liability allowed under the law, and we will support you in te event of an audit or DOL examination.</p>
                        </div>
                    </div>
                    <div class="margin-bottom-20"></div> -->
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="../styles/img/bg.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

<div class="margin-bottom-20"></div>

 <div class="container">
         <div class="row">
         	 <div class="col-md-6">
                <img class="img-responsive" src="../styles/img/bg.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h1 class="">Who needs to File?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>   
            </div>
 </div>

<div class="margin-bottom-20"></div>
            
<div class="row margin-bottom-20">
                <div class="col-sm-12">
	                <div class="col-sm-6">
	                    <h3>Why Do Your Filing With Us?</h3><br>
	                    <ul class="">
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>         
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
		                    <li><i class=""></i> Lorem ipsum dolor sit amet</li>
	                	</ul>
	                    <br>
	                </div>

	                <div class="col-md-6">
             		   <img class="img-responsive" src="../styles/img/bg.jpg" alt="">
            		</div>
	         </div>
</div>

<div class="container">
      <div class="row">
            <div class="col-md-12 ">
                <h1 class="">Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>And that's where we really make the difference.</p>
            </div>
           
      </div>
</div>

