<!-- <div ng-controller="loginController">
	<title>Home</title>
	<p>This is the home page</p>

	<form>
		<input placeholder="Username" ng-model="user.username"></input>
		<input placeholder="Password" ng-model="user.password"></input>
		<button ng-click="postLogin(user)">Login</button>
		{{test}}
		{{emp}}
	</form>
</div> -->
<my-header></my-header>

<div class="container">
	<div class="row">
		<div class="col-md-12 homeBgdark" >
			<div class="homeBg">
                <!-- <img src="../styles/img/ny.jpg"> -->
				<h1 class="text">1099 Filer</h1>
                 <div class="homeTitle">
                <h2 class="homeHead">Affordable Care Act Reporting done right</h2>
                <p>1095 Filler - your solution for Affordable Care Act Reporting and Compliance.  The most productive and cost-effective way to paper file your Forms 1094-C and 1095-C</p>
            </div>
			</div>
		</div>
	</div>
</div>

<div class="margin-bottom-20"></div>

       
    
    <div class="">
        <div class="container">
            <div class="homeTop">
                <h3 class="homeHead">What is Form 1095-C: Employer-Provided Health Insurance Offer and Coverage</h3>
                <p>The Affordable Care Act, or Obamacare, requires certain employers to offer health insurance coverage to full-time employees and their dependents.  Further, those employers must send and annual statement to all employees eligible for coverage describing the insurance available to them.  The IRS created form 1095-c to serve as the statement</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <i class=""></i>
                        <div class="">
                            <h3>Why use 1095 Filer</h3>
                            <p>We simplifie data entry and processing through efficient and easy to understand screens. Filing your 1095-C / 1094-C forms is a brease with our easy to use software.  Remove the hasle of ACA file with us and be done in minutes.</p>
                        </div>
                    </div>
                    <div class="">
                        <i class=""></i>
                        <div class="">
                            <h3>Our Guarantee</h3>
                            <p>Your forms will be filed securly and timely. You will save overall time using 1095 filer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                        </div>
                    </div>
                 <!--    <div class="banner-info dark margin-bottom-10">
                        <i class="rounded-x fa fa-thumbs-o-up"></i>
                        <div class="overflow-h">
                            <h3>Our Guarantee</h3>
                            <p>Your forms will be prepared correctly and timely, Your forms will be prepared with tlowest liability allowed under the law, and we will support you in te event of an audit or DOL examination.</p>
                        </div>
                    </div>
                    <div class="margin-bottom-20"></div> -->
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="../styles/img/bg.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

<div class="margin-bottom-20"></div>

 <div class="container">
         <div class="row">
         	 <div class="col-md-6">
                <img class="img-responsive" src="../styles/img/11.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="">Who needs to File form 1095-c?</h3>
                <p>The health care law defines which employers must offer health insurance to their workers.  The law refers to them as 'applicable large employers', or ALE's.  A company or organization is an ALE if it has at least 50 full-time workers or full-time equivalents.  A full-time worker, according to the law, is someone who works at least 30 hours a week. A full-time equivalent, meanwhile, is two or more part-time employees whose hours add up to a full-time load.  Two workers who each put in 15 hours a week.</p>
                <p>Only ALE's are required to file Form 1095-c</p>
                <p></p>
                <p></p>   
            </div>
 </div>

<div class="margin-bottom-20"></div>
            
<div class="row margin-bottom-20">
                <div class="col-sm-12">
	                <div class="col-sm-6">
	                    <h3>Information on the 1095-c</h3><br>
                      <p>Every employee of an AlE who is eligible for insurance coverage should receive a 1095-c.  Eligible employees who decline to participate in their employer's health plan will still receive a 1095-c.  The form identifies:</p>
	                    <ul class="">
		                    <li><i class=""></i>The employee and the employer</li>         
		                    <li><i class=""></i> Which months durning the year the employee was eligible for coverage</li>
		                    <li><i class=""></i>The cost of the cheapest monthly premium the employee could have paid under the plan</li>
	                	</ul>
                    <p>If an ALE does not offer its employees insurance, the 1095-c will indicate that fact.  ALEs that don't offer coverage may be subject to financial penalties.</p>
	                    <br>
	                </div>

	                <div class="col-md-6">
             		   <img class="img-responsive" src="../styles/img/3.jpg" alt="">
            		</div>
	         </div>
</div>
