<my-header></my-header>

<div class="container content-md ">
         <div class="row">
            <div class="col-md-12">
				<div>
				<title>Login</title>
				<p>Login</p>

					<form>
						<input type="text" placeholder="Email" ng-model="credentials.email"></input>
						<input type="password" placeholder="Password" ng-model="credentials.password"></input>
						<button ng-click="login()">Login</button>
					</form>

    				<!-- <button type="button" class="btn btn-default" ng-click="modalLogin()">Open me!</button> -->


				</div>
        </div>
</div>