<my-header></my-header>

<div class="container content-md ">
         <div class="row">
            <div class="col-md-12">
               <!-- 	<div>
					<h2>Login</h2>
						<form>
							<input placeholder="Username"></input>
							<input placeholder="Password"></input>
							<button><a ui-sref="company">Submit</a></button>

						</form>
				</div> -->

				<div ng-controller="loginController">
				<title>Login</title>
				<p>Login</p>

					<form>
						<input placeholder="Username" ng-model="user.username"></input>
						<input placeholder="Password" ng-model="user.password"></input>
						<a ui-sref="company"><button ng-click="postLogin(user)">Login</button></a>
						{{test}}
						{{emp}}
					</form>
				</div>
        </div>
</div>