<my-header></my-header>

<div class="container">
         <div class="row">
            <div class="col-md-6">
                <h1 class="">Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam, et imperdiet sem. Nam vulputate odio tortor.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non eleifend purus, vel pretium tellus. Sed scelerisque malesuada lectus. Donec eget faucibus quam</p>
       
                 <uib-tabset active="activeJustified" justified="true">
					    <uib-tab index="0" heading="Why use us?">Why use us?</uib-tab>
					    <uib-tab index="1" heading="Sign Up Instructions">Sign Up Instructions</uib-tab>
					    <!-- <uib-tab index="2" heading="Part III">Part Three Instructions</uib-tab> -->
					   <!--  <uib-tab index="3" heading="Long Justified">More Content</uib-tab> -->
  				</uib-tabset>
            </div>
            <div class="col-md-6">
               	<div ng-controller="compController">
					<h1 class="signupHead">Sign Up for 1095</h1>  
					<form>
						<input class="signupInput" placeholder="Company Name" ng-model="comp.compName"></input><br>
						<input class="signupInput" placeholder="Address" ng-model="comp.address"></input><br>
						<input class="signupInput" placeholder="City" ng-model="comp.city"></input><br>
						<input class="signupInput" placeholder="State" ng-model="comp.state"></input><br>
						<input class="signupInput" placeholder="Zip" ng-model="comp.zip"></input><br>
						<input class="signupInput" placeholder="Phone" ng-model="comp.phone"></input><br>
						<input class="signupInput" placeholder="Email" ng-model="comp.email"></input><br>
						<input class="signupInput" placeholder="EIN" ng-model="comp.ein"></input><br>
						<input class="signupInput" placeholder="Password" ng-model="comp.password"></input><br>
						<button class="signupButton" ng-click="addComp(comp)">Sign Up</button>
					</form>
				</div>
            </div>
        </div>
</div>
<!-- <div>
		<h2>Login</h2>
		<form>
			<input placeholder="Username"></input>
			<input placeholder="Password"></input>
			<button>Submit</button>
		</form>
	</div> -->