<my-header></my-header>

<div class="container">
         <div class="row">
            <div class="col-md-6">
                <h1 class="">Why use us?</h1>
                
                	<p>1095 Filler supports all the 1094-c / 1095-c form fields.  We generate forms that are IRS compliant. We own the tech behind 1095 filler.  Many of the solutions out there are simply resellers to a bigger compnay that owns the filing technology, whitch means they are not in control and your data might get outsourced</p>
                
       				<!-- <img class="img-responsive" src="../styles/img/bg.jpg" alt=""> -->
              <!--    <uib-tabset active="activeJustified" justified="true">
					    <uib-tab index="0" heading="Why use us?">Why use us?</uib-tab>
					    <uib-tab index="1" heading="Sign Up Instructions">Sign Up Instructions</uib-tab>
  				</uib-tabset> -->
            </div>
            <div class="col-md-6">
               	<div>
					<h1 class="signupHead">Sign Up for 1095</h1>  
					<form>
						<input class="signupInput" placeholder="Company Name" ng-model="newUser.name"></input><br>
						<input class="signupInput" placeholder="Address" ng-model="newUser.address"></input><br>
						<input class="signupInput" placeholder="City" ng-model="newUser.city"></input><br>
						<input class="signupInput" placeholder="State" ng-model="newUser.state"></input><br>
						<input class="signupInput" placeholder="Zip" ng-model="newUser.zip"></input><br>
						<input class="signupInput" placeholder="Phone" ng-model="newUser.phone"></input><br>
						<input class="signupInput" placeholder="Email" ng-model="newUser.email"></input><br>
						<input class="signupInput" placeholder="EIN" ng-model="newUser.ein"></input><br>
						<input type="text" class="signupInput" placeholder="Password" ng-model="newUser.password"></input><br>
						<button class="signupButton hvr-grow-shadow" ng-click="register()">Sign Up</button>
					</form>
				</div>
            </div>
        </div>
</div>

					<!-- <form>
						<input type="text" ng-model="newUser.name" placeholder="name"></input>
						<input type="text" ng-model="newUser.email" placeholder="Email"></input>
						<input type="text" ng-model="newUser.password" placeholder="Password"></input>
						<button ng-click="register()">Sign Up</button>
					</form> -->
<!-- <div>
		<h2>Login</h2>
		<form>
			<input placeholder="Username"></input>
			<input placeholder="Password"></input>
			<button>Submit</button>
		</form>
	</div> -->