@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);


body {
	background-color: #EBF4FA;
}

hr {
	border-width: 2px;
}
/*Nav*/
.navbar-inverse {
	background-color: #03598F;
}

#navz {
	padding-top: 5px;
	/*background-color: lightgray;*/
}
#navzPills {
	float: right;
	margin-right: 20px;
}

.nav-pills a {
    color: #ffffff
}

.nav-pills a:hover {
    color: #560000;
    border-radius: 5px;
}

.nav-pills .active a:hover {
    color: #560000;
    border-radius: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: gray;
}


/*Home*/
.homeBgdark {
	 background: rgba(70, 72, 82, 0.3)
	 z-index: 234;
}

.homeBg {
	width: 100%;
	height: 300px;
	background-image: url("./img/18.jpg");
	margin-top: -40px;
}

.text {
	color: #FFAB35;
	font-family: 'Libre Baskerville', serif;
	padding-top: 2%;
	padding-left: 28%;
	font-size: 800%;
}

.homeTitle {
	text-align: center;
	color: white;
	padding-top: 4%;
}

.homeHead {
	font-family: 'Libre Baskerville', serif;
}

.homeTop {
	margin-bottom: 50px;
}

/*Footer*/

.footer {
	text-align: right;
	background-color: #333;
	bottom: 0;

}

.socialIcon {
	margin-right: 50px;
}

.social {
	display: inline-block;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Other*/

.margin-bottom-20 {
	margin-bottom: 50px;
}

body {

}

.containeremp {

}

/*Modals*/

.modalContainer {
	
	height: 130px;
}

/*Emp Page*/

.empInput {
	width: 100%;
	margin-bottom: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 10px;
  color: #BBD9EE;
}

.empTblHead {
	text-align: center;
}

.empCol {
	padding-top: 20px;
}

.empH1 {
	padding-bottom: 10px;
}

.empForm {
	/*background-color: gray;*/
	padding: 10px 10px 10px 10px;
}

.empButton {
	margin-top: 20px;
	margin-left: 43%;
}

.empH1 {
	text-align: center;
	color: #206BA4 ;
}

.empH2 {
	text-align: center;
	color: #206BA4 ;
}

.empPartI{
	padding-top: 20px;
}

.empPartIli {
	padding-bottom: 5px;
}

.empPartII {
	padding-top: 20px;
}

.empPartIIli {
	padding-bottom: 5px;
}

.empPartIII {
	padding-top: 20px;
}

.empPartIIIli {
	padding-bottom: 5px;
}

.empPartIIIh3 {
	padding-bottom: 10px;
}

/*Signup*/

.signupInput {
	width: 100%;
	margin-bottom: 5px;
	/*margin-left: 25%;*/
}

.signupHead {
	text-align: center;
}

.signupButton {
	margin-left: 45%;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#dropCSV, #dropJSON {
	height:200px;
	background-color:#eec;
	font-size:x-large;
	font-family:monospace;
}
#dropCSV { width:330px; }
#dropJSON { width:770px; }

#jsonoutput, #csvoutput {
	height:200px;
	background-color:#ece;
	font-size:x-large;
	font-family:monospace;
}
#jsonoutput { width:770px; }
#csvoutput { width:330px; }

label {
	font-weight:bold;
	font-size:large;
	display:block;
}

/*Forms*/

.empiframe {
	width: 95%;
	height: 800px;
	margin-top: 30px;
	margin-right: 10px;
}

.iframe1094 {
	width: 100%;
	height: 800px;
}

.formsH2 {
	text-align: center;
}

.formsButton {
	width: 100%;
	margin-top: 15%;
}

.form1094Button {
	width: 50%;
	height: 35px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
}

.formsEmp {
	margin-top: 5px;
}

.fomrsHead {
	margin-bottom: 20px;
}

/*Current User*/

.empCard {
	/*border-style: solid;*/
	/*border-width: 1px;
	border-radius: 15px;*/
	margin-top: 10px;
	padding-top: 10px;
	/*background-color: lightgray;*/
}

.empCardImg {
	padding-top: 10px;
	
	
}

.empCardName {
	padding-left: 20px;	
	
}

.empCardAddress {
	color: #206BA4;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: white;
}

.hvr-grow-shadow-gray {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow-gray:hover, .hvr-grow-shadow-gray:focus, .hvr-grow-shadow-gray:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*Company Page*/

.compHeader {
	text-align: center;
	margin-bottom: 5%;
	color: #FFAB35;
	font-family: 'Libre Baskerville', serif;
}

/*Modal*/

.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;}
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: #206BA4 !important;color:#fff;}
.modal-register-btn{margin: 4% 33% 2% 33% ;width:100%;}
.login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
.login-link{padding:0 20%;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
.loginButt {
	padding-left: 13%;	
}
 


















